body{
	margin:0;
	font-family:Helvetica, Arial;
	font-size:small;
}

#logo {
	display:block;
	margin:auto;
}

#menu {
	background-color: #add8e6;
	position: absolute;
 	width: 100%;
 	
}

#stuff{
	font-size: 13px;
 	min-width: 350px;
 	float: right;
}

#main{
	text-align: center;
}

.search, .search input {
  margin-top:10px;
  margin-bottom:10px;
  height:20px;
  width:550px;
  margin-left:auto;
  margin-right:auto;

}
